<div class="topnav">
  <ul>
  </ul>
</div>
<script type="text/template" id="menuListTemp">
  {{each data as value}}
  <li><a href={{value.link}}><i class="{{value.icon}}"></i>{{value.title}}</a></li>
  {{/each}}
</script>